<nav class="border-b border-blue-500 shadow-blue-300 shadow-2xl">
  <div class="max-w-6xl mx-auto flex items-center justify-between p-4">
    
    <div class="text-xl font-bold cursor-pointer" routerLink="/">
      LOGO
    </div>

    <a
      routerLink="/about"
      class="text-lg hover:text-blue-600 transition cursor-pointer"
    >
      Biz haqimizda
    </a>
    <div class="flex gap-1">
      <button
        routerLink="/premium"
        class=" btn rounded-l-2xl">
        ⭐ Premium
      </button>

      <button
        routerLink="login"
        class="btn rounded-r-2xl"
      >
        Kirish
      </button>
    </div>

  </div>
</nav>
