<div class="max-w-6xl mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
  <div class="max-w-2xl">
    <h2 class="type text-4xl font-extrabold mt-5">
      Nega bizni tanlashingiz kerak?
    </h2>

    <div class="space-y-5 mt-5">

      <div>
        <h3 class="text-xl font-semibold">💰 Pulingiz toliq nazoratda</h3>
        <p class="text-gray-700">
          Har bir daromad va xarajatni oson kiritib, balansni real vaqtda kuzatasiz.
        </p>
      </div>

      <div>
        <h3 class="text-xl font-semibold">📊 Aniq statistikalar</h3>
        <p class="text-gray-700">
          Qayerga qancha pul ketayotganini grafiklar orqali tez tushunasiz.
        </p>
      </div>

      <div>
        <h3 class="text-xl font-semibold">⚡ Oddiy va tez</h3>
        <p class="text-gray-700">
          Murakkab sozlamalarsiz, bir necha bosishda foydalanishga tayyor.
        </p>
      </div>

      <div>
        <h3 class="text-xl font-semibold">🔐 Ma’lumotlar xavfsizligi</h3>
        <p class="text-gray-700">
          Sizning moliyaviy ma’lumotlaringiz faqat sizga tegishli.
        </p>
      </div>

    </div>
  </div>

  <div class="max-w-2xl">
    <div class="bg-blue-100 rounded-xl p-6 text-center">
        <div>
           <img src="/Bills_tracker.webp" alt="Banner">
        </div>
    </div>
  </div>

</div>
